<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dt.student.register.mapper.primary.auth.AuthMapper">

    <select id="findUserDetails"
            resultType="com.dt.student.register.model.users.User"
            parameterType="String">
        SELECT
            id,
            username,
            password,
            is_active
        FROM users
        WHERE username = #{username}
          AND is_active = 1
            LIMIT 1;
    </select>


    <select id="findOneByEmail" resultType="com.dt.student.register.model.users.User">
        SELECT id AS id,
               email AS email,
               username AS username,
               google_auth AS googleId,
               tele_user_id AS telegramId,
               password AS password
        FROM users
        WHERE email = #{email} AND is_active = 1
            LIMIT 1;
    </select>
    <select id="findOneByEmailResendCode" resultType="com.dt.student.register.model.users.User">
        SELECT id AS id,
               email AS email,
               username AS username,
               google_auth AS googleId,
               tele_user_id AS telegramId,
               password AS password,
               is_active AS isActive,
               verification_code AS verificationCode,
               verification_code_expiry AS verificationCodeExpiry
        FROM users
        WHERE email = #{email} AND is_active = 0
            LIMIT 1;
    </select>

    <select id="checkUserVerifiedOrNot" resultType="com.dt.student.register.model.users.User">
        SELECT id AS id,
               email AS email,
               username AS username,
               google_auth AS googleId,
               tele_user_id AS telegramId,
               password AS password,
               is_active AS isActive
        FROM users
        WHERE email = #{email} AND is_active = 0
            LIMIT 1;
    </select>

    <select id="findOneByGoogleId" resultType="com.dt.student.register.model.users.User">
        SELECT id AS id,
               email AS email,
               username AS username,
               google_auth AS googleId,
               tele_user_id AS telegramId,
               password AS password
        FROM users
        WHERE google_auth = #{googleId} AND is_active = 1
            LIMIT 1;
    </select>

    <select id="findOneByTelegramId" resultType="com.dt.student.register.model.users.User">
        SELECT id AS id,
               email AS email,
               username AS username,
               google_auth AS googleId,
               tele_user_id AS telegramId,
               password AS password
        FROM users
        WHERE tele_user_id = #{telegramId} AND is_active = 1
            LIMIT 1;
    </select>

    <insert id="insert" parameterType="com.dt.student.register.model.users.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users (
        first_name,
        last_name,
        username,
        email,
        telephone,
        sex,
        address,
        password,
        google_auth,
        tele_user_id
        ) VALUES (
        #{firstName},
        #{lastName},
        #{username},
        #{email},
        #{telephone},
        #{sex},
        #{address},
        #{password},
        #{googleId},
        #{telegramId}
        )
    </insert>


    <select id="checkUserLogout" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT refresh_token FROM oauth_access_token WHERE user_name = #{username} AND client_id = #{clientId} LIMIT 1;
    </select>

    <select id="findAccessTokenByIdentifier" resultType="com.dt.student.register.model.dto.request.authentication.login.AccessTokenRequest">
        SELECT id,
               user_id AS userId
        FROM access_token
        WHERE user_id = #{userId}
            LIMIT 1;
    </select>

    <select id="checkUserValid" parameterType="java.lang.String" resultType="java.lang.Long">
        SELECT COUNT(id) FROM users WHERE username = #{username} AND is_active = 1;
    </select>

    <insert id="insertClientId">
        INSERT INTO oauth_client_details
        (client_id, device_info, client_secret, scope, authorized_grant_types,
         web_server_redirect_uri, authorities, access_token_validity,
         refresh_token_validity, additional_information, autoapprove, created)
        VALUES
            (#{clientId},
             #{clientName},
             #{clientSecure},
             'read,write,trust', 'password,refresh_token',
             null, null,
             #{tokenValidate},
             #{refreshTokenValidate},
             null, 1, now())
            ON DUPLICATE KEY UPDATE device_info = #{clientName},
                                 access_token_validity = #{tokenValidate},
                                 refresh_token_validity = #{refreshTokenValidate},
                                 created = now();
    </insert>

    <update id="insertUserSession" parameterType="java.lang.String">
        UPDATE users SET session_start = NOW(), session_active = NOW() WHERE username = #{username};
    </update>

    <delete id="clearUserToken">
        DELETE FROM oauth_access_token WHERE user_name = #{username} AND client_id = #{clientId};
        DELETE FROM oauth_client_details WHERE client_id = #{clientId};
        DELETE FROM oauth_refresh_token WHERE token_id = #{tokenId};
    </delete>




</mapper>
