<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dt.student.register.mapper.primary.user.ModuleMapper">


    <select id="getOne" parameterType="java.lang.Long" >
        SELECT *, 0 AS checked
        FROM modules
        WHERE status = 1 AND module_type_id = #{id} ORDER BY ordering ASC
    </select>

    <select id="getOneByRoleId" parameterType="java.lang.Long" >
        SELECT
            modules.id,
            modules.name,
            modules.status,
            modules.module_type_id,
            modules.ordering,

            -- Extract type from the name and convert it to uppercase
            CASE
                WHEN modules.name LIKE '%(%)%'
                    THEN UPPER(SUBSTRING_INDEX(SUBSTRING_INDEX(modules.name, '(', -1), ')', 1))
                ELSE NULL
                END AS type,

            -- Check if user has permission
            CASE
                WHEN EXISTS (
                    SELECT 1
                    FROM permissions
                    WHERE module_id = modules.id
                      AND group_id = #{roleId}
                    LIMIT 1
                )
                    THEN 1 ELSE 0
                END AS checked

        FROM modules
        WHERE modules.status = 1
          AND modules.module_type_id = #{id}
        ORDER BY modules.ordering ASC;
    </select>


    <select id="getOneByUserId" parameterType="java.lang.Long">
        SELECT
            modules.id,
            modules.name,
            modules.status,
            modules.module_type_id,
            modules.ordering,

            -- Extract type from the name and convert it to uppercase
            CASE
                WHEN modules.name LIKE '%(%)%'
                    THEN UPPER(TRIM(TRAILING ')' FROM SUBSTRING_INDEX(SUBSTRING_INDEX(modules.name, '(', -1), ')', 1)))
                ELSE NULL
                END AS type,

            -- Check if user has permission
            CASE
                WHEN EXISTS (
                    SELECT 1
                    FROM permissions
                    WHERE module_id = modules.id
                      AND group_id IN (SELECT group_id FROM user_groups WHERE user_id = #{userId})
                    LIMIT 1
                )
                    THEN 1 ELSE 0
                END AS checked

        FROM modules
        WHERE modules.status = 1
          AND modules.module_type_id = #{id}
        ORDER BY modules.ordering ASC;
    </select>

</mapper>